- javascripts << 'rating_stars'

%div#holder

:javascript
  describe('Rating widget', {
    'before': function() {with(self){
      holder = $('holder');
      widget = new RatingStars.Widget(holder);
    }},
    
    'should do something': function() {with(self){
      expect(holder.select('img').size).should_be(2);
    }}
  });