- javascripts << 'rating_stars'

%span#holder

:javascript
  describe('Rating widget', {
    'before': function() {with(self){
      widget = new RatingStars.Widget($('holder'));
    }},
    
    'should do something': function() {with(self){
      expect(1).should_be(1);
    }}
  });